#main-navigation {
  background-color: #390281;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#stored-posts {
  margin: 5rem auto 2rem auto; /* Adjusted margins */
  padding: 1.5rem; /* Adjusted padding */
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 90%;
  max-width: 30rem;
}

#stored-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#stored-posts li {
  margin: 0.8rem 0; /* Adjusted margins */
}

#stored-posts a {
  display: block;
  padding: 0.8rem; /* Adjusted padding */
  width: 100%;
  text-decoration: none;
  border: 1px solid #ccc;
  color: #1b1b1b;
  font-weight: bold;
}

#stored-posts a:hover,
#stored-posts a:active {
  background-color: #ccc;
}

@media (max-width: 576px) {
  #stored-posts {
    margin-top: 4rem; /* Further adjust top margin */
  }
}